# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/

# Environment
.env
.env.*

# Logs
logs/
!logs/.gitkeep
!backend/logs/.gitkeep
*.log

# Databases
*.sqlite
*.sqlite3
*.db

# Node
node_modules/

# OS
.DS_Store

# Virtual environments
backend/venv/
backend/.venv/

# Frontend config
frontend/config.js
